<h1>Baby Shark</h1>

<Instrument @instrument={{this.violin}} as |i|>
  <i.part as |p|>
    <Measure>
      <p.note @time='0:2' @pitch='D4' />
      <p.note @time='0:3' @pitch='E4' />
    </Measure>
  </i.part>

  <i.part @start={{1}} as |p|>
    <Measure>
      <p.note @time='0:0:0' @pitch='G4' @d='8n' />
      <p.note @time='0:0:2' @pitch='G4' @d='8n' />

      <p.note @time='0:1:0' @pitch='G4' @d='8n' />
      <p.note @time='0:1:2' @pitch='G4' @d='16n' />
      <p.note @time='0:1:3' @pitch='G4' @d='8n' />

      <p.note @time='0:2:1' @pitch='G4' @d='16n' />
      <p.note @time='0:2:2' @pitch='G4' @d='8n' />

      <p.note @time='0:3:0' @pitch='D4' @d='8n' />
      <p.note @time='0:3:2' @pitch='E4' @d='8n' />
    </Measure>

    <Measure>
      <p.note @time='1:0:0' @pitch='G4' @d='8n' />
      <p.note @time='1:0:2' @pitch='G4' @d='8n' />

      <p.note @time='1:1:0' @pitch='G4' @d='8n' />
      <p.note @time='1:1:2' @pitch='G4' @d='16n' />
      <p.note @time='1:1:3' @pitch='G4' @d='8n' />

      <p.note @time='1:2:1' @pitch='G4' @d='16n' />
      <p.note @time='1:2:2' @pitch='G4' @d='8n' />

      <p.note @time='1:3:0' @pitch='D4' @d='8n' />
      <p.note @time='1:3:2' @pitch='E4' @d='8n' />
    </Measure>

    <Measure>
      <p.note @time='2:0:0' @pitch='G4' @d='8n' />
      <p.note @time='2:0:2' @pitch='G4' @d='8n' />

      <p.note @time='2:1:0' @pitch='G4' @d='8n' />
      <p.note @time='2:1:2' @pitch='G4' @d='16n' />
      <p.note @time='2:1:3' @pitch='G4' @d='8n' />

      <p.note @time='2:2:1' @pitch='G4' @d='16n' />
      <p.note @time='2:2:2' @pitch='G4' @d='8n' />

      <p.note @time='2:3:0' @pitch='G4' @d='8n' />
      <p.note @time='2:3:2' @pitch='G4' @d='8n' />
    </Measure>

    <Measure>
      <p.note @time='3:0:0' @pitch='F#4' />

      <p.note @time='3:2:0' @pitch='D3' />
      <p.note @time='3:3:0' @pitch='E3' />
    </Measure>
  </i.part>

  <i.part @start={{5}} as |p|>
    <Measure>
      <p.note @time='0:0:0' @pitch='G3' @d='8n' />
      <p.note @time='0:0:2' @pitch='G3' @d='8n' />

      <p.note @time='0:1:0' @pitch='G3' @d='8n' />
      <p.note @time='0:1:2' @pitch='G3' @d='16n' />
      <p.note @time='0:1:3' @pitch='G3' @d='8n' />

      <p.note @time='0:2:1' @pitch='G3' @d='16n' />
      <p.note @time='0:2:2' @pitch='G3' @d='8n' />

      <p.note @time='0:3:0' @pitch='D3' @d='8n' />
      <p.note @time='0:3:2' @pitch='E3' @d='8n' />
    </Measure>

    <Measure>
      <p.note @time='1:0:0' @pitch='G3' @d='8n' />
      <p.note @time='1:0:2' @pitch='G3' @d='8n' />

      <p.note @time='1:1:0' @pitch='G3' @d='8n' />
      <p.note @time='1:1:2' @pitch='G3' @d='16n' />
      <p.note @time='1:1:3' @pitch='G3' @d='8n' />

      <p.note @time='1:2:1' @pitch='G3' @d='16n' />
      <p.note @time='1:2:2' @pitch='G3' @d='8n' />

      <p.note @time='1:3:0' @pitch='D3' @d='8n' />
      <p.note @time='1:3:2' @pitch='E3' @d='8n' />
    </Measure>

    <Measure>
      <p.note @time='2:0:0' @pitch='G3' @d='8n' />
      <p.note @time='2:0:2' @pitch='G3' @d='8n' />

      <p.note @time='2:1:0' @pitch='G3' @d='8n' />
      <p.note @time='2:1:2' @pitch='G3' @d='16n' />
      <p.note @time='2:1:3' @pitch='G3' @d='8n' />

      <p.note @time='2:2:1' @pitch='G3' @d='16n' />
      <p.note @time='2:2:2' @pitch='G3' @d='8n' />

      <p.note @time='2:3:0' @pitch='G3' @d='8n' />
      <p.note @time='2:3:2' @pitch='G3' @d='8n' />
    </Measure>

    <Measure>
      <p.note @time='3:0:0' @pitch='F#3' />

      <p.note @time='3:2:0' @pitch='D5' />
      <p.note @time='3:3:0' @pitch='E5' />
    </Measure>
  </i.part>

  <i.part @start={{9}} as |p|>
    <Measure>
      <p.note @time='0:0:0' @pitch='G5' @d='8n' />
      <p.note @time='0:0:2' @pitch='G5' @d='8n' />

      <p.note @time='0:1:0' @pitch='G5' @d='8n' />
      <p.note @time='0:1:2' @pitch='G5' @d='16n' />
      <p.note @time='0:1:3' @pitch='G5' @d='8n' />

      <p.note @time='0:2:1' @pitch='G5' @d='16n' />
      <p.note @time='0:2:2' @pitch='G5' @d='8n' />

      <p.note @time='0:3:0' @pitch='D5' @d='8n' />
      <p.note @time='0:3:2' @pitch='E5' @d='8n' />
    </Measure>

    <Measure>
      <p.note @time='1:0:0' @pitch='G5' @d='8n' />
      <p.note @time='1:0:2' @pitch='G5' @d='8n' />

      <p.note @time='1:1:0' @pitch='G5' @d='8n' />
      <p.note @time='1:1:2' @pitch='G5' @d='16n' />
      <p.note @time='1:1:3' @pitch='G5' @d='8n' />

      <p.note @time='1:2:1' @pitch='G5' @d='16n' />
      <p.note @time='1:2:2' @pitch='G5' @d='8n' />

      <p.note @time='1:3:0' @pitch='D5' @d='8n' />
      <p.note @time='1:3:2' @pitch='E5' @d='8n' />
    </Measure>

    <Measure>
      <p.note @time='2:0:0' @pitch='G5' @d='8n' />
      <p.note @time='2:0:2' @pitch='G5' @d='8n' />

      <p.note @time='2:1:0' @pitch='G5' @d='8n' />
      <p.note @time='2:1:2' @pitch='G5' @d='16n' />
      <p.note @time='2:1:3' @pitch='G5' @d='8n' />

      <p.note @time='2:2:1' @pitch='G5' @d='16n' />
      <p.note @time='2:2:2' @pitch='G5' @d='8n' />

      <p.note @time='2:3:0' @pitch='G5' @d='8n' />
      <p.note @time='2:3:2' @pitch='G5' @d='8n' />
    </Measure>

    <Measure>
      <p.note @time='3:0:0' @pitch='F#5' />
    </Measure>
  </i.part>
</Instrument>