<h1>Ember as Song</h1>

<a href='https://github.com/jamescdavis/ember-as-song'>Repo</a>

<LinkTo @route='hello'>Hello World</LinkTo>
<LinkTo @route='scale'>Scale</LinkTo>
<LinkTo @route='two-instruments'>Two Instruments</LinkTo>
<LinkTo @route='multi-part'>Multi-part</LinkTo>