<h1>Ember as Song</h1>

<a href='https://github.com/jamescdavis/ember-as-song' local-class='gh-link'>
  <img src='https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png' alt='GitHub Logo' local-class='gh-logo'>
  GitHub Repo
</a>

<h2>Demos</h2>

<ul local-class='demo-list'>
  <li><LinkTo @route='hello'>Hello World</LinkTo></li>
  <li><LinkTo @route='scale'>Scale</LinkTo></li>
  <li><LinkTo @route='two-instruments'>Two Instruments</LinkTo></li>
  <li><LinkTo @route='multi-part'>Multi-part</LinkTo></li>
  <li><LinkTo @route='loop'>Loop</LinkTo></li>
  <li><LinkTo @route='drum-kit'>Drum Kit</LinkTo></li>
  <li><LinkTo @route='drum-loop'>Drum Loop</LinkTo></li>
  <li><LinkTo @route='song1.intro'>Song 1</LinkTo></li>
</ul>